* {

	box-sizing: border-box;

}

body {

	-webkit-font-smoothing: antialiased;
	color: #4d4d4d;

}

@font-face {

	font-family: sfmonoregular;
	src: url(../font/SFMono-Regular.otf);

}

h1, p {

	font-family: sfmonoregular;
	
}

a {

	font-family: sfmonoregular;

}

/* START INTRO =================================================== */

.intro-space {

	padding-bottom: 60px;

}

.intro-logo {

	width: 160px;
	margin-top: 60px;
	margin-left: 60px;

}

.intro-title {

	color: white;
	
	font-size: 55px;
	font-weight: normal;
	line-height: 80px;

	margin-left: 60px;
	margin-right: 60px;

}

/*.intro-title-highlight {

	font-weight: bold;

}*/ 

.intro-cta {

	color: white;
	font-size: 30px;
	margin-left: 60px;
	line-height: 80px;

}

.intro-bg {

	background: #43cea2; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(#43cea2 top, #185a9d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #43cea2, #185a9d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #43cea2, #185a9d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #43cea2, #185a9d); /* Standard syntax (must be last) */

}

/* FINISH INTRO ================================================== */

/* START IMAGE WINDOW ============================================ */

.imagewindow {

	width: 100%;
	height: auto;

}

/* END IMAGE WINDOW ============================================== */

.flexbox {

	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;

}

.features-width {

	width: 90%;
	margin: auto;
	margin-top: 100px;

}

/* START (MAIN) FEATURE ========================================== */

.feature1 {

	max-width: 80%;
	margin: auto;
	margin-top: -142px;

}

.feature1-title {

	font-size: 55px;
	width: 480px;

}

.feature1-text { 

	font-size: 30px;
	line-height: 45px;
	width: 480px;

}

.feature1-right {

	margin-top: 280px;

}

/* END (MAIN) FEATURE ============================================ */

/* START FEATURE LIST ============================================ */

.featureslist {

	text-align: center;
	width: 420px;
	margin-bottom: 100px;

}

.featureslist-title {

	font-size: 30px;

}

.featureslist-text {

	font-size: 22px;
	line-height: 35px;

}

/* END FEATURE LIST ============================================== */

/* START FOOTER ================================================== */

.footer-title {

	color: white;
	text-transform: uppercase;
	font-size: 87px;
	width: 650px;
	margin-left: 60px;
	margin-top: 60px;

}

.footer-subtitle {

	color: white;
	font-size: 30px;
	width: 650px;
	margin-left: 60px;

}

.footer-form-out {

	background-color: white;
	border-radius: 10px;
	width: 576px;
	margin-left: 60px;
	margin-bottom: 60px;
	
}

.footer-form-input {

	font-family: sfmonoregular;
	font-size: 30px;
	width: 400px;
	margin: 30px 24px;
	border-style: none;

}

.footer-send {

	font-family: sfmonoregular;
	color: white;
	font-size: 30px;
	text-decoration: none;
	border-radius: 5px;
	padding: 10px 18px;
	background-color: #2e929f

}

.footer-left {

	width: 800px;
	font-size: 0;

}

.footer-right {

	width: 1053px;
	font-size: 0;

}

.footer-img {

	height: auto;
	width: 100%;

	right: 0;
	margin-top: 70px;

}

/* END FOOTER ==================================================== */

/* DESKTOP SMALLER SIZES 1 ======================================= */

@media screen and (max-width: 1560px) {

.footer-img {

	margin-top: 190px;

}

}

/* DESKTOP SMALLER SIZES 2 ======================================= */

@media screen and (max-width: 1400px) {

.mocksize {

	width: 350px;
	margin-left: 120px;

}

.feature1 {

	max-width: 95%;
	margin: auto;
	margin-top: -142px;

}

.feature1-title {

	font-size: 45px;
	width: 480px;
	margin-top: 90px;

}

.feature1-text { 

	font-size: 20px;
	line-height: 35px;
	width: 480px;

}

.feature1-right {

	margin-top: 200px;
	margin-left: 80px;

}

.featureslist {

	text-align: center;
	width: 310px;
	margin-left: 10px;
	margin-right: 10px;

}

.featureslist-title {

	font-size: 25px;

}

.featureslist-text {

	font-size: 16px;
	line-height: 35px;

}

.featurelist-img {

	width: 200px;

}

.footer-title {

	font-size: 50px;
	width: 400px;

}

.footer-subtitle {

	font-size: 25px;
	width: 400px;

}

.footer-form-out {

	border-radius: 5px;
	width: 440px;
	
}

.footer-form-input {

	font-size: 20px;
	width: 287px;
	margin: 30px 24px;

}

.footer-send {

	font-size: 20px;
	border-radius: 5px;
	padding: 10px 18px;

}

.footer-left {

	width: 800px;
	font-size: 0;

}

.footer-right {

	width: 1053px;
	font-size: 0;

}

.footer-img {

	height: auto;
	width: 100%;
	right: 0;
	margin-top: 90px;

}

}

/* DESKTOP SMALLER SIZES 3 ======================================= */

@media screen and (max-width: 1050px) {

.mocksize {

	width: 350px;
	margin-left: 15px;

}

.feature1 {

	max-width: 95%;
	margin: auto;
	margin-top: -142px;

}

.feature1-title {

	font-size: 45px;
	width: 350px;
	margin-top: 90px;

}

.feature1-text { 

	font-size: 20px;
	line-height: 35px;
	width: 350px;

}

.feature1-right {

	margin-top: 200px;
	margin-left: 50px;

}

.featureslist {

	text-align: center;
	width: 310px;
	margin-left: 10px;
	margin-right: 10px;

}

.featureslist-title {

	font-size: 25px;

}

.featureslist-text {

	font-size: 16px;
	line-height: 35px;

}

.featurelist-img {

	width: 200px;

}

.footer-title {

	font-size: 70px;
	width: auto;
	text-align: center;
	margin-top: 65px;
	margin-left: 3%;
	margin-right: 3%;

}

.footer-subtitle {

	text-align: center;
	font-size: 25px;
	width: auto;
	margin-left: 0;

}

.footer-form-out {

	width: auto;
	border-radius: 5px;
	margin-bottom: 60px;
	margin-left: 20%;
	margin-right: 20%;
	
}

.footer-form-input {

	font-size: 20px;
	text-align: center;
	width: auto;
	margin: 25px 80px;

}

.footer-send {

	font-size: 15px;
	padding: 10px 18px;

}

.footer-form-align {

	text-align: center;

}

.footer-left {

	width: auto;
	font-size: 0;

}

.footer-right, .footer-img {

	display: none;

}

.footer-right, .footer-img {

	display: none;

}

}

/* MOBILE SCREEN SIZES =========================================== */

@media screen and (max-width: 865px) {

.intro-space {

	padding-bottom: 60px;

}

.intro-logo {

	width: 140px;
	margin-top: 30px;
	margin-left: 30px;

}

.intro-title {
	
	font-size: 25px;
	line-height: 50px;
	margin-left: 30px;
	margin-right: 30px;

}

.intro-cta {

	font-size: 25px;
	font-weight: bold;
	margin-left: 30px;

}

.imagewindow {

	display: none;

}

.feature1 {

	display: block;

}

.mocksize {

	width: 250px;
	margin: 0;

}

.feature1 {

	max-width: 80%;
	margin: auto;
	margin-top: -41px;
	text-align: center;

}

.feature1-right {

	margin-top: 5px;
	margin-left: 0;
	
}

.feature1-title {

	font-size: 25px;
	width: auto;
	margin-top: 5px;

}

.feature1-text { 

	font-size: 15px;
	line-height: 25px;
	width: auto;

}

.features-width {

	display: block;
	margin-top: 100px;

}

.featureslist {

	width: auto;
	margin-bottom: 100px;

}

.featurelist-img {

	width: 200px;

}

.featureslist-title {

	font-size: 25px;
	margin-left: 12%;
	margin-right: 12%;

}

.featureslist-text {

	font-size: 15px;
	line-height: 25px;
	margin-left: 3%;
	margin-right: 3%;

}

.footer-title {

	font-size: 50px;
	width: auto;
	text-align: center;
	margin-top: 25px;
	margin-left: 3%;
	margin-right: 3%;

}

.footer-subtitle {

	text-align: center;
	font-size: 25px;
	width: auto;
	margin-left: 0;

}

.footer-form-out {

	width: auto;
	margin: auto;
	border-radius: 5px;
	margin-bottom: 60px;
	margin-left: 3%;
	margin-right: 3%;
	
}

.footer-form-input {

	font-size: 15px;
	text-align: center;
	width: auto;
	margin: 25px 12px;

}

.footer-send {

	font-size: 15px;
	padding: 10px 18px;

}

.footer-form-align {

	text-align: center;

}

.footer-left {

	width: auto;
	font-size: 0;

}

.footer-right, .footer-img {

	display: none;

}

}
















