* {

	box-sizing: border-box;

}

body {

	-webkit-font-smoothing: antialiased;
	color: #4d4d4d;

}

@font-face {

	font-family: sfmonoregular;
	src: url(../font/SFMono-Regular.otf);

}

h1, p {

	font-family: sfmonoregular;
	
}

a {

	font-family: sfmonoregular;

}

/*.logo {

	display: block;

	height: 90px;
	width: 90px;

	border: 22px;

	border-style: solid;
	border-color: white;
	border-radius: 50%;

	margin-left: 60px;

}*/

.intro-space {

	padding-bottom: 60px;

}

.intro-logo {

	width: 90px;
	margin-top: 60px;
	margin-left: 60px;

}

.intro-title {

	color: white;
	
	font-size: 55px;
	font-weight: normal;
	line-height: 80px;

	margin-left: 60px;
	margin-right: 60px;

}

.intro-title-highlight {

	font-weight: bold;

} 

.intro-cta {

	color: white;
	font-size: 25px;
	margin-left: 60px;
	line-height: 80px;

}

.intro-bg {

	background: #43cea2; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(#43cea2 top, #185a9d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #43cea2, #185a9d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #43cea2, #185a9d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #43cea2, #185a9d); /* Standard syntax (must be last) */

}

.imagewindow {

	width: 100%;
	height: auto;

}

.feature1 {

	max-width: 80%;
	margin: auto;
	margin-top: -142px;

}

.flexbox {

	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;

}

.features-width {

	width: 90%;
	margin: auto;
	margin-top: 100px;

}

.feature1-title {

	font-size: 60px;
	width: 480px;

}

.feature1-text { 

	font-size: 30px;
	line-height: 45px;
	width: 480px;

}

.feature1-right {

	margin-top: 280px;

}

.featureslist {

	text-align: center;
	width: 420px;
	margin-bottom: 100px;

}

.featureslist-title {

	font-size: 30px;

}

.featureslist-text {

	font-size: 22px;
	line-height: 35px;

}

.footer-img-align {

	width: 90%;
	right: 0;

}

.footer-title {

	color: white;
	text-transform: uppercase;
	font-size: 87px;
	width: 650px;
	margin-left: 60px;
	margin-top: 60px;

}

.footer-subtitle {

	color: white;
	font-size: 35px;
	width: 650px;
	margin-left: 60px;

}

.footer-form-out {

	background-color: white;
	border-radius: 10px;
	width: 590px;
	margin-left: 60px;
	margin-bottom: 60px;
	
}

.footer-form-input {

	font-family: sfmonoregular;
	font-size: 35px;
	width: 400px;
	margin: 30px 24px;
	border-style: none;

}

.footer-send {

	font-family: sfmonoregular;
	color: white;
	font-size: 35px;
	text-decoration: none;
	border-radius: 5px;
	padding: 10px 18px;
	background-color: #2e929f

}

.footer-left {

	width: 800px;
	font-size: 0;

}

.footer-right {

	width: 1053px;
	font-size: 0;

}

.footer-img {

	height: auto;
	width: 100%;

	right: 0;
	margin-top: 70px;

}
























